{% extends 'lognav.html' %}{% load static %} {% block body %}

<div class="container">
  <div class="op-head-box">
    <div class="op-title">
      <h1>
        Getting started with<br />
        the process of<br />Online Concession
      </h1>
      <p class="my-4" style="color: #4d5f70">
        With ERCP, you can directly apply for concession without even being in a
        queue for hours. Join a fully integrated suite of features to get
        railway concession.
      </p>
      <a href="/cardForm/"
        ><button type="button" class="btn">
          Start now <i class="fas fa-arrow-right"></i></button
      ></a>
    </div>
    <div class="m-auto">
      <img
        src="{% static 'img/option-head.svg' %}"
        alt=""
        class="img-fluid op-head-img"
      />
    </div>
  </div>
  <div class="op-pancake" style="overflow-x: hidden">
    <div class="op-box">
      <div class="m-auto">
        <i class="fas fa-sign-in-alt"></i>
      </div>
      <p class="mt-4">
        <h6>Authentication</h6>
        Students Authentication and Authorization based on the credentials
        provided by college, So that they can apply for concessions online at
        any time anywhere.
      </p>
    </div>
    <div class="op-box">
      <div class="m-auto">
        <i class="far fa-thumbs-up"></i>
      </div>
      <p class="mt-4">
        <h6>Verify and Approve</h6>
        Verifying and Approving railway concession requests to send Confirmation
        Status to the students on the portal, once their form is approved and
        ready to collect.
      </p>
    </div>
    <div class="op-box">
      <div class="m-auto">
        <i class="far fa-file-alt"></i>
      </div>
      <p class="mt-4">
        <h6>Excel or csv files</h6>
        Export the data from the database according to requirements into excel
        or csv files to maintain reports of issued concessions which helps in
        maintaining consistency.
      </p>
    </div>
  </div>
  <div class="op-wrapper">
    <div class="card-section mb-5 p-sm-3 p-3">
      <div class="row" style="overflow-x: hidden">
        <div
          class="col-lg-6 mb-sm-3 mb-3 card-img">
          <img class="img-fluid" src="{% static 'img/card.svg'%}" alt="" />
        </div>
        <div
          class="col-lg-6 m-auto">
          <h6 class="font-weight-bold text-uppercase">Build your card for current Academic-year</h6>
          <p>
            Be eligible to apply for concession. Create your card and head towards the process. Card will help in keeping all your data stored at one go, so you don't have to fill it again and we don't have to ask for it again. Create your first card for the current academic year and start appplying for concession.
          </p>
          <a href="/cardForm/">Create your card <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <!-- <div class="con-section mb-5 p-sm-3 p-3">
      <div class="row" style="overflow-x: hidden">
        <div
          class="col-lg-6 mb-sm-3 mb-3 card-img">
          <img class="img-fluid" src="{% static 'img/card.jpg'%}" alt="" />
        </div>
        <div
          class="col-lg-6 m-auto">
          <h6 class="font-weight-bold text-uppercase">Build your card for current Academic-year</h6>
          <p>
            Get updates and information of upcoming events, fests, workshops and
            much more
          </p>
          <a href="/cardForm/">Create your card <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div> -->
  </div>
</div>

{% endblock %}
