{% extends 'lognav.html' %}{% load static %} {% block body %}

<div class="container">
  <div class="op-head-box">
    <div class="op-title" data-aos="zoom-out" data-aos-duration="1000">
      <h1>
        Getting started with<br />
        the process of<br />Online Concession
      </h1>
      <p class="my-4" style="color: #4d5f70">
        With ERCP, you can directly apply for concession without even being in a
        queue for hours. Join a fully integrated suite of features to get
        railway concession.
      </p>
      <a href="/cardForm/"
        ><button type="button" class="btn">
          Start now <i class="fas fa-arrow-right"></i></button
      ></a>
    </div>
    <div class="m-auto" data-aos="zoom-out" data-aos-duration="1000">
      <img
        src="{% static 'img/option-head.svg' %}"
        alt=""
        class="img-fluid op-head-img"
      />
    </div>
  </div>

  <div class="op-wrapper">
    <div
      class="container"
      style="overflow-x: hidden; overflow-y: hidden; overflow: hidden"
    >
      <h3 class="text-center">- ERCP Activities -</h3>

      <div class="card-section mb-5 p-sm-3 p-3">
        <div class="row">
          <div
            class="col-lg-6 mb-sm-3 mb-3 card-img"
            data-aos="fade-down-right"
            data-aos-duration="1000"
          >
            <img class="img-fluid" src="{% static 'img/card.svg'%}" alt="" />
          </div>
          <div
            class="col-lg-6 m-auto"
            data-aos="fade-down-left"
            data-aos-duration="1000"
          >
            <h6 class="font-weight-bold text-uppercase">
              Create your Card and be eligible
            </h6>
            <p>
              Be eligible to apply for concession. Create your card and head
              towards the process. Card will help in keeping all your data
              stored at one go, so you don't have to fill it again and we don't
              have to ask for it again. Create your first card for the current
              academic year and start appplying for concession.
            </p>
            <a href="/cardForm/"
              >Create your card <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="form-section mb-5 p-sm-3 p-3">
        <div class="row">
          <div
            class="col-lg-6 m-auto"
            data-aos="fade-up-right"
            data-aos-duration="1000"
          >
            <h6 class="font-weight-bold text-uppercase">
              Apply and get railway concession
            </h6>
            <p>
              Save hours of standing in line with ERCP, where you can apply for
              concession anytime anywhere. ERCP will take care of Approval and
              Acknowledgement. Confirmation status will be sent to students on
              the portal, once the form is approved and ready to collect. So get
              one step close towards concession approval.
            </p>
            <a href="/concessionForm/"
              >Apply for Concession <i class="fas fa-arrow-right"></i
            ></a>
          </div>
          <div
            class="col-lg-6 mt-sm-3 mb-3 form-img"
            data-aos="fade-up-left"
            data-aos-duration="1000"
          >
            <img class="img-fluid" src="{% static 'img/form.svg'%}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
