body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #fff;
  color: #070707;
  margin-bottom: 150px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  background-color: #070707;
  padding: 24px;
  text-align: center;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  width: 55% !important;
  max-width: 95% !important;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 27px !important;
}

.navbar-nav li {
  padding: 0 0 0 15px;
}

.index-navbar {
  background: #fff;
  box-shadow: 0 4px 2px -2px rgba(224, 222, 222, 0.9);
}

.index-navbrand {
  font-size: 24px !important;
}

.index-navbrand i {
  font-size: 22px;
}

.index-navbar li {
  font-size: 16px;
}

.index-navbar a {
  color: #070707;
}

.header-title h1 {
  margin-top: 0px !important;
}

.chakra-icon {
  font-size: 40px;
  color: #87bbfd;
  border-radius: 50%;
  padding: 5px;
}

.train-icon {
  font-size: 25px;
}

/* .css-selector {
  position: relative;
  display: block;
  width: inherit;
  height: 100%;
  opacity: 0;
} */

.css-selector {
  background: linear-gradient(
    70deg,
    rgb(254, 172, 87) 10%,
    rgb(170, 101, 235) 35%,
    rgb(227, 186, 129) 100%,
    rgb(145, 197, 253) 10%,
    rgb(179, 96, 219) 30%,
    rgb(255, 202, 87) 20%,
    rgb(144, 213, 255) 60%,
    rgb(251, 169, 88) 40%,
    rgb(255, 37, 61) 30%
  );
  width: 100%;
  height: 900px;
  clip-path: polygon(50% 0%, 100% 0, 100% 24%, 0 54%, 0 0);
  animation: AnimationName 16s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 84% 0%;
  }
}
