@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #fff;
  color: #070707;
  margin-bottom: 150px;
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  background-color: #070707;
  padding: 24px;
  text-align: center;
  color: #fff;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  width: 55% !important;
  max-width: 95% !important;
}

.nav-link {
  color: #070707;
  font-weight: bold;
  font-size: 18px;
}

.navbar-brand {
  color: #070707;
  font-weight: bold;
  font-size: 27px !important;
}

.navbar-nav li {
  padding: 0 0 0 15px;
}

.navbar-brand:hover,
.navbar-nav li {
  color: #555abf;
}

/* index.html */

.index-navbar {
  background: #fff;
  box-shadow: 0 4px 2px -2px rgba(224, 222, 222, 0.9);
}

.navbar-brand {
  font-size: 24px !important;
}

.index-navbrand i {
  font-size: 22px;
}

.index-navbar li {
  font-size: 16px;
}

.index-navbar a {
  color: #070707;
}

.index-navbar a:hover,
.index-navbar li:hover {
  color: #555abf !important;
}

.train-icon {
  font-size: 25px;
}

/* home.html */

.header-title {
  background: #555abf;

  color: #fff;
}

.header-title h1 {
  font-size: 50px;
  text-align: center;
  padding: 90px;
  text-shadow: 2px 2px 2px rgb(34, 33, 33);
}

.header-title {
  height: 450px;
  margin-bottom: -400px;
  z-index: -1;
  position: inherit;
  clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 0);
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #feab3a,
    #ff3a3e,
    #aa4fec
  );
  background-size: 400% 400%;
  animation: gradient 14s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-op-wrapper {
  padding: 180px 0 250px 0;
}

.span-grid h6 {
  font-size: 20px;
}

.span-grid p {
  font-size: 17px;
}

.span-col-1,
.span-col-2 {
  border-radius: 16px;
  -webkit-box-shadow: 11px 35px 46px -6px rgba(201, 197, 201, 1);
  -moz-box-shadow: 11px 35px 46px -6px rgba(201, 197, 201, 1);
  box-shadow: 11px 35px 46px -6px rgba(201, 197, 201, 1);
  border-radius: 15px;
  padding: 80px;
  float: none;
}

.span-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.span-col-1 {
  grid-column: 3 / 11;
}

.span-col-2 {
  margin-top: 100px;
  grid-column: 3 / 11;
}

.span-grid a {
  text-decoration: none !important;
  font-size: 17px;
  color: #555abf;
  font-weight: bold;
}

.span-grid a i {
  font-size: 13px;
  margin-left: 3px;
}

.span-grid a:hover {
  color: #070707;
  transition: 0.4s ease-in-out !important;
}

.op-pancake {
  margin-top: 500px;
  display: flex;
  justify-content: space-between;
}

.op-box {
  flex-basis: 300px;
}

.op-box i {
  font-size: 40px;
  color: #555abf;
}

.op-box p {
  font-size: 19px;
}

.op-box h6 {
  font-size: 20px;
}

/* .op-box {
  background-color: #555abf;
  padding: 12px;
} */

.op-box:hover {
  cursor: pointer !important;
  background-color: #555abf;
  opacity: 0.9;
  border-radius: 0px !important;
  color: #fff;
  transition: 0.4s ease-in-out !important;
  transform: scale(1.01) !important;
  padding: 12px;
}

.op-box:hover i {
  color: #070707;
}

/* #option.html */

.op-head-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.op-title {
  margin-top: 70px;
}

.op-title p {
  font-size: 17px;
  font-weight: 500;
}

.op-title button {
  background-color: #635bff !important;
  color: #fff;
  border-radius: 27px;
  padding: 4px 14px 4px 14px;
}

.op-title button:hover {
  background-color: #070707 !important;
  padding-right: 19px;
  transition: 0.4s ease-in-out !important;
}

.op-title button i {
  font-size: 12px;
  margin: 0 0 0 2px !important;
}

.op-title h1 {
  font-size: 45px;
  letter-spacing: 1px;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.op-head-img {
  width: 95% !important;
  margin-bottom: 200px !important;
}

.op-wrapper {
  padding: 30px 0 80px 0;
}

.op-wrapper .container {
  width: 100% !important;
  max-width: 100% !important;
}

.card-section img,
.form-section img {
  width: 75% !important;
  box-shadow: 0 8px 15px 0 rgba(207, 200, 200, 1),
    0 6px 20px 0 rgba(250, 348, 248, 1) !important;
  transform: skewX(10deg);
}

.card-section p,
.form-section p {
  color: #4d5f70;
  font-size: 18px;
  padding: 10px 0 0 0;
}

.card-section h6,
.form-section h6 {
  font-size: 19px;
}

.form-section img {
  margin: 40px 0 0 120px;
}

.card-section a,
.form-section a {
  text-decoration: none !important;
  font-size: 17px;
  color: #555abf;
  font-weight: bold;
}

.card-section a i,
.form-section a i {
  font-size: 13px;
  margin-left: 3px;
}

.card-section a:hover,
.form-section a:hover {
  color: #070707;
  transition: 0.4s ease-in-out !important;
}

/* card.html */

.card-wrapper .container {
  width: 45% !important;
  max-width: 85% !important;
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 0 35px 20px rgb(219, 210, 210);
  -moz-box-shadow: 0 35px 20px rgb(221, 217, 217);
  box-shadow: 0 35px 20px rgb(221, 217, 217);
  /* box-shadow: rgba(225, 229, 231, 0.12) 0px 2px 4px 0px,
    rgba(194, 199, 202, 0.32) 0px 2px 16px 0px; */
  border-color: #555abf !important;
}

.card-title {
  font-size: 70px;
  color: #19191a;
}

.card-content-wrapper {
  padding: 20px 15px 20px 15px;
}

.card-head {
  font-size: 16px;
}

.card-text {
  font-size: 16px;
  color: #101011;
}

/* formConcession.html */

.apply-button {
  background-color: #635bff !important;
  color: #fff;
  border-radius: 27px !important;
  padding: 5px 20px 5px 20px !important;
}

.apply-button:hover {
  background-color: #070707 !important;
  transition: 0.4s ease-in-out !important;
}
