{% extends 'index.html' %}{% load static %} {% block body %}
<div class="about-wrapper">
  <div class="about-head text-center" style="background-color: #555abf">
    <h3 data-aos="zoom-in" data-aos-duration="1000">About Us</h3>
  </div>
  <div
    class="about-text text-center"
    data-aos="zoom-in"
    data-aos-duration="1000"
  >
    <div>
      <img class="img-fluid" src="{% static 'img/goal1.svg'%}" alt="" />
    </div>
    <div>
      <p>
        Our mission is to lessen hours of work to receive concession and provide
        an easy, reliable process. We provide authentication and approval to get
        online access anytime anywhere. We even provide status after approving
        concession application to the students. We work with a minimalistic team
        and complete efforts.
      </p>
    </div>
  </div>
</div>
{% endblock %}
