{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>E-RCP</title>
  </head>
  <body>
    <div class="header-title" style="overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg p-3 container" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-duration="900">
      <a class="navbar-brand" href="/"
        ><i class="fas fa-train train-icon"></i> ERCP</a
      >
      <button
        class="navbar-toggle collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color: #2a2a2a"></i
          ></span>
      </button>

      <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login/">Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <div class="text-center" data-aos="zoom-in"
    data-aos-anchor-placement="top-center" data-aos-duration="1000">
   
    <p> E-Railway<br />Concession Portal</p>
    </div>
    </div>
       <div class="text-center why-ercp">
         Why ERCP?
       </div>
      <div class="op-pancake container">
      
      <div class="op-box" data-aos="zoom-in-left"
      data-aos-duration="1000">
        <div class="m-auto">
          <i class="fas fa-sign-in-alt"></i>
        </div>
        <p class="mt-4">
          <h6>Authentication</h6>
          Students Authentication and Authorization based on the credentials
          provided by college, So that they can apply for concessions online at
          any time anywhere.
        </p>
      </div>
      <div class="op-box" data-aos="zoom-in"
      data-aos-duration="1000"> 
        <div class="m-auto">
          <i class="far fa-thumbs-up"></i>
        </div>
        <p class="mt-4">
          <h6>Verify and Approve</h6>
          Verifying and Approving railway concession requests to send Confirmation
          Status to the students on the portal, once their form is approved and
          ready to collect.
        </p>
      </div>
      <div class="op-box" data-aos="zoom-in-right"
      data-aos-duration="1000">
        <div class="m-auto">
          <i class="far fa-file-alt"></i>
        </div>
        <p class="mt-4">
          <h6>Excel or csv files</h6>
          Export the data from the database according to requirements into excel
          or csv files to maintain reports of issued concessions which helps in
          maintaining consistency.
        </p>
      </div>
    </div>
    <div class="op-wrapper container-fluid">
      <p class="span-title text-center mt-5">Issue Railway Concessions in seconds</p>
    <div class="home-op-wrapper container">
      <div class="span-grid">
        <div class="span-col-1" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <h6>
          Build your card for current Academic-year
        </h6>
        <p>
          Be eligible to apply for concession. Create your card and head
          towards the process. Card will help in keeping all your data
          stored at one go, so you don't have to fill it again and we don't
          have to ask for it again. Create your first card for the current
          academic year and start appplying for concession.
        </p>
        <a href="/login/"
          >Create your card <i class="fas fa-arrow-right"></i
        ></a></div>
     
   
        <div class="span-col-2" data-aos="flip-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <h6>
            Apply and get railway concession
          </h6>
          <p>
            Save hours of standing in line with ERCP, where you can apply for
            concession anytime anywhere. ERCP will take care of Approval and
            Acknowledgement. Confirmation status will be sent to students on
            the portal, once the form is approved and ready to collect. So get
            one step close towards concession approval.
          </p>
          <a href="/login/"
            >Apply for Concession <i class="fas fa-arrow-right"></i
          ></a>
        </div>  
      </div> 
        
      </div>
    </div>
   
    

    <div class="footer">
      <p class="m-auto">
        © Copyright 2021 E-Railway Concession Portal, All rights reserved
        &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Developed with
        <i class="fas fa-heart" style="color: #cc2525"></i> by Vaishnavi Sawant
      </p>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/9d5e03a8c7.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
